<!For Modal TOS >
<div class="modal fade" id="Modal-TOS" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-3" id="staticBackdropLabel">Terms Of Service</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>This document sets forth the terms and conditions of use for the ecommerce website abgroups.com. By using the Website, you agree to be bound by these terms and conditions.</p>
        <h2>Order Processing</h2>
        <p>All orders are subject to product availability and verification of payment information. We reserve the right to refuse or cancel an order, including but not limited to cases of unauthorized or fraudulent use.</p>

        <h2>Prices and Payments</h2>
        <p>Prices and availability of products are subject to change without notice. We accept major credit cards and other forms of payment as indicated on the Website. Payment must be received in full prior to shipment of the product.</p>

        <h2>Shipping and Delivery</h2>
        <p>Shipping and handling charges are included in the price of the product, unless otherwise indicated. Delivery times are estimated and may vary. We are not responsible for any delays in delivery due to events beyond our control.</p>

        <h2>Returns and Refunds</h2>
        <p>Returns are accepted within seven days of delivery for a full refund, excluding shipping and handling fees. Products must be returned in their original packaging and condition. Refunds will be processed within [insert number of days] days of receipt of the returned product.</p>

        <h2>Warranty and Limitation of Liability</h2>
        <p>Our products come with a year warranty against defects. We are not responsible for any indirect, incidental, special, or consequential damages arising from the use of the Website or products purchased on it.</p>

        <h2>Intellectual Property</h2>
        <p>The Website and all its contents, including but not limited to text, images, graphics, and code, are protected by intellectual property rights and belong to us or our licensors. You may not use or reproduce any content from the Website for commercial purposes without our express written permission.</p>

        <h2>Dispute Resolution</h2>
        <p>Any dispute arising from or related to your use of the Website will be resolved through binding arbitration in accordance with the rules of the American Arbitration Association.</p>

        <h2>Modifications to Terms and Conditions</h2>
        <p>We reserve the right to modify these terms and conditions at any time without prior notice. Your continued use of the Website following any changes indicates your acceptance of the revised terms and conditions.</p>
      </div>
      <div class="modal-footer">
           <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Agree </button>
      </div>
    </div>
  </div>
</div>